header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid blueviolet;
}

li {
    display: inline-block;
    margin: 2rem;
    cursor: pointer;
}
